/*Credit for general landing page layout to NikValdez
https://github.com/NikValdez/CSSGridTut/blob/master/index.css*/

@font-face {
  font-family: "SharkFontBold";
  src: url(/font/shark-tank-fontkit/kenyan_coffee_bd-webfont.woff2)
      format(woff2),
    url(/font/shark-tank-fontkit/kenyan_coffee_rg-webfont.woff);
}

@font-face {
  font-family: "SharkFontBoldItal";
  src: url(/font/shark-tank-fontkit/kenyan_coffee_bd_it-webfont.woff)
      format(woff),
    url(/font/shark-tank-fontkit/kenyan_coffee_bd_it-webfont.woff2)
      format(woff2);
}

body {
  background-image: url("../img/water-background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

p,
a {
  font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
}

/***MODAL PAGE STYLING***/

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  max-width: 600px;
  height: 300px;
  margin: auto;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fa {
  font-size: 40px;
}
.checked {
  color: orange;
  margin-left: 5em;
  margin-top: 2em;
  font-size: 40px;
}

#close-modal-btn {
  margin-top: 2em;
}

/***NAVBAR STYLING***/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: rgb(1, 86, 141);
  background: linear-gradient(
    180deg,
    rgba(1, 86, 141, 1) 5%,
    rgba(65, 131, 169, 1) 20%,
    rgba(101, 156, 184, 1) 30%,
    rgba(129, 176, 196, 1) 50%,
    rgba(158, 196, 208, 1) 75%,
    rgba(186, 215, 220, 1) 90%,
    rgba(211, 232, 231, 1) 100%
  );
  box-shadow: 5px 0px 20px     rgba(211, 232, 231, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.logo {
  display: inline-block;
}

#goldfish {
  max-width: 2em;
  height: auto;
  margin-left: 1em;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: white;
  height: 2.35em;
}

.nav-item:hover a {
  color: black;
}

.logo img {
  width: 2em;
  vertical-align: middle;
}

/***LANDING PAGE STYLING***/

.blue-text {
  color: #04006e;
}

.blue-text::before {
  content: "\a";
  white-space: pre;
}

.landing-header {
  font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.75em;
}

.landing-sub-header {
  font-family: "SharkFontBoldItal", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.75em;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4.5fr 4.5fr;
  margin-top: 0em;
  margin-left: 2em;
  margin-right: 2em;
}

.hero {
  grid-column: 1 / 4;
  margin-top: 1em;
  text-align: center;
  line-height: 3em;
}

.section {
  font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0em;
  align-items: center;
}

.cards {
  background: #042e5e;
  color: #d1e6e9;
  border-radius: 5px;
  box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
}

.cards:hover {
  transform: scale(1.01);
}

button {
  font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
  display: block;
  margin: auto;
  background-color: #6b62fd;
  border: none;
  color: white;
  margin-top: 0.75em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.hide-button-text {
  color: #6b62fd;
}
h2 {
  text-align: center;
  margin-top: 1.5em;
}

/*Desktop Media Query*/

@media only screen and (min-width: 1201px) {
  .section {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    margin-top: 0em;
    align-items: center;
  }
  .cards {
    background: #042e5e;
    color: #d1e6e9;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin-top: 0em;
    height: 35%;
  }
}

/*Laptop Media Query*/

@media only screen and (max-width: 1024px) {
  #landing-header {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
  }

  #landing-sub-header {
    font-family: "SharkFontBoldItal", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
  }

  .section {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 0em;
    align-items: center;
  }
  .cards {
    background: #042e5e;
    color: #d1e6e9;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin-top: 0em;
    height: 40%;
  }
}

/*Tablet Media Query*/

@media only screen and (max-width: 768px) {
  #landing-header {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
  }

  #landing-sub-header {
    font-family: "SharkFontBoldItal", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
  }

  .section {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-top: 1em;
    margin-bottom: 0em;
    align-items: flex-start;
  }
  .cards {
    background: #042e5e;
    color: #d1e6e9;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin-top: 0em;
    height: 35%;
  }

  .cards:hover {
    transform: scale(1.01);
  }

  button {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    background-color: #6b62fd;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  #hide-button-text {
    color: #6b62fd;
  }
  h2 {
    text-align: center;
    margin-top: 0.5em;
  }
}

/*Cell Phone Media Query*/

@media only screen and (max-width: 480px) {
  #landing-header {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
  }

  #landing-sub-header {
    font-family: "SharkFontBoldItal", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
  }

  .section {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 5em;
    margin-bottom: 0em;
    align-items: flex-start;
  }
  .cards {
    background: #042e5e;
    color: #d1e6e9;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin-top: 0em;
    height: 40%;
  }

  .cards:hover {
    transform: scale(1.01);
  }

  button {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    background-color: #6b62fd;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  #hide-button-text {
    color: #6b62fd;
  }
  h2 {
    text-align: center;
    margin-top: 0.5em;
  }
}
