@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Slab&family=Merriweather+Sans:ital@1&family=Oswald&family=Roboto+Slab&display=swap");

$font-main: "Merriweather", Helvetica, sans-serif;
$font-highlight: "Bree Serif", Helvetica, sans-serif;

$offwhite: #eee8d6;
$darkblue: #022933;
$yellow: #ffba00;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d7362;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;