/*Noah Selis, 11/5/2021 */

@font-face {
	font-family: chunky;
	src: url(/font/chunkfive-regular-webfont.woff);
	src: url(/font/chunkfive-regular-webfont.woff2);
}

body {
	background-image: url(../image/jewelry.jpg);
	background-color: beige;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

main {
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul {
	list-style: none;
	font-size: 1em;
	clear:left;
}

footer {
	font-size: 1em;
	padding: 10px;
	text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-family: 'Righteous', cursive;
	font-size: 4em;
}

h2 {
	font-family: chunky, Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 2em;
}

#outerwrapper {
	margin: auto;
	width: 70%;
	border-radius: 15%;
	background: rgba(243, 205, 170, 0.4);
}

.addrightmargin {
	margin-right: 10%;
}

header{
	float:none;
	margin-top: 5%;
}
header img {
	float: left;
	border-radius: 50%;
}

