h1, h2, a, p, div {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
}

a:focus, a:hover{
    color: blue;
}

.wrapper {
    margin: auto;
    margin-top: 3em;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .25fr 2fr auto 3fr;
    background-color: seashell;
    border-radius: 5px;
}

.faq-header{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3; 
    text-align: center;
}



#accordion{
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    font-weight: 600;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    margin-top: 2em;
}

div#accordion h2 {
    font-family: "SharkFontBold", Arial, Helvetica, sans-serif;
    font-style: italic;
}

/**********FOOTER STYLING**********/

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.25fr;
    background: #111;
    padding-top: 2em;
    color: #fff;
  }
  
  div.footer_content {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
  }
  
  .footer_content h3 {
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 0.75em;
    margin-left: 2em;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
  }
  
  .footer_content p {
    margin-left: 2em;
    line-height: 1.75em;
    font-size: 0.95em;
    color: #cacdd2;
  }
  
  div.socials {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    padding-bottom: 1em;
  }
  
  .socials a {
    color: #fff;
    border: 1.1px solid white;
    padding: 0.5em;
    border-radius: 50%;
    margin-left: 1.5em;
  }
  
  .socials a i {
    font-size: 1.1em;
    width: 1em;
    transition: color 0.4s ease;
    margin-top: 1em;
  }
  
  div.email-content {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    line-height: 0.1em;
  }
  
  div.email-content h1 {
    line-height: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #last_name2{
    margin-bottom: 2em;
  }
  
  #description{
    margin-top: 0.75em;
    width: 45em;
  }
  
  #description{
    width: 45em;
  }
  
  #join_newsletter {
    background-color: #6b62fd;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    margin-left: -8px;
  }
  
  #clear_newsletter_form {
    background-color: #6b62fd;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-radius: 3px;
  }
  

  @media screen and (max-width: 669px) {
    .faq-header{
      font-size: xx-small;
    }
    footer{
      font-size: xx-small;
    }
    #email_form{
      line-height: 1em;
    }
  }