.news-wrapper {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15em auto;
  grid-template-areas:
    ". . h h h h h h h h . ."
    ". . a a a . c c c c . .";
    border: 3px solid black;
    background-color: seashell;
}

.header {
  grid-area: h;
  text-align: center;
  border-bottom: 3px solid black;
  padding-top: 2em;
  line-height: 2.5em;
}

.content {
  grid-area: c;
  padding-top: 2em;
  line-height: 1.75em;
}

#pup-header{
    text-align: center;
}
.aside {
  grid-area: a;
  padding-top: 2em;

}

#article-header {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2em;
  border-bottom: solid 1px black;
}

.article-link {
  border-bottom: solid 1px black;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.article-link {
  padding-bottom: 0.5em;
}

.footer {
  grid-area: f;
}
